<h1 style = "color : White">Dictionary</h1>

   - Dictionary stores element as keys and value pairs
   - The key is like an index, its always unique & immutable
   - The values are the objects that contain information
   - Values are accessed using their keys
   - Each key is followed by a value separated by a colon
   - The values can be immutable, mutable, & duplicates
   - Each key and value pair is separated by a comma enclosed inside curly brackets

In [1]:
mydict = dict() # empty dictionary
mydict

# Another way

mydict = {} # empty dictionary
mydict

{}

![image](Dic.PNG)

In [5]:
# Creating a dictionary
# Country: Currency
d1 = {"India": "INR", "USA": "USD", "Hong Kong": "HKD"}

In [6]:
type(d1)

dict

In [7]:
len(d1)

3

In [9]:
# Accessing value using keys
d1["India"]

'INR'

In [10]:
# Replacing the value for a key in a dictionary

d1["Hong Kong"] = "HK$"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [12]:
d1["Japan"] = "YEN"

In [15]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [11]:
len(d1)

4

In [16]:
# Inserting a new key-value pair

d1["Japan"] = "YEN"

d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [17]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [18]:
# Deleting a key value pair

del d1["Japan"]

d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [19]:
# Sorting a dictionary

sorted(d1)

['Hong Kong', 'India', 'USA']

In [23]:
d1["India"] = "INR"

In [21]:
d1

{'India': 'INR', 'USA': 'INR', 'Hong Kong': 'HK$'}

In [21]:
d1["Germany"] = "EUR"

In [22]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$', 'Germany': 'EUR'}

In [23]:
# values() method

d1.values()

dict_values(['INR', 'USD', 'HK$', 'EUR'])

In [34]:
# keys() method

d1.keys()

dict_keys(['India', 'USA', 'Hong Kong'])

In [25]:
# get() method

d1.get('India')

'INR'

In [24]:
d1['India']

'INR'

In [26]:
# update() method

d1.update({"India": "Rs"})

#d1["India"] = "Rs"


d1

{'India': 'Rs', 'USA': 'USD', 'Hong Kong': 'HK$', 'Germany': 'EUR'}

In [32]:
d1["India"] = "INR"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

### Adding, Remove & Change Items

In [2]:
dict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hil'}
dict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hil'}

In [3]:
dict1['DOB'] = 1992 # Changing Dictionary Items
dict1['Address'] = 'Delhi'
dict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [5]:
dict1.pop('DOB') # Removing items in the dictionary using Pop method
dict1

dict1.popitem() # A random item is removed
dict1.clear() # Delete all items of the dictionary using clear method

In [6]:
## loop through dictionary

for i in dict1:
 print(i , ':' , dict1[i]) # Key & value pair

#### Practice Codes

##### Question 1
##### Description
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employee id and values represent the name, age, and profession (in the same order).

Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Sample output:

'Product Lead'

Note: Assume that employee data would be available in the data provided to you

In [27]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [28]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [29]:
Employee_data.get(104)

['Ansari', 29, 'Product Lead']

In [30]:
type(Employee_data.get(104))

list

In [31]:
Employee_data.get(104)[2]

'Product Lead'

In [33]:
Employee_data[104][2]

'Product Lead'

In [ ]:
key: emp id
value: name, age, profession

In [33]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [34]:
type(Employee_data)

dict

In [35]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [39]:
Employee_data[101]

['Shiva', 24, 'Content Strategist']

In [40]:
type(Employee_data[101])

list

In [44]:
Employee_data[104][2]

'Product Lead'

In [43]:
Employee_data[104][-1]

'Product Lead'

In [37]:
type(Employee_data.get(104))

list

In [49]:
list_2 = Employee_data.get(104)

In [51]:
list_2[2]

'Product Lead'

In [52]:
Employee_data.get(104)[2]

'Product Lead'

In [53]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Employee_data.get(104)[2]

'Product Lead'

##### Question 2

Suppose dict_1 = {"Python'':40, "R'':45}. What command should be used to delete the entry "R"?

In [35]:
dict_1 = {"Python":40, "R":45}

In [36]:
del dict_1["R"]

In [37]:
dict_1

{'Python': 40}

In [46]:
dict_1 = {"Python":40, "R":45}

In [47]:
del dict_1["R"]

In [48]:
dict_1

{'Python': 40}

##### Question 3

d = {'Python':40, 'R':45}

print(list(d.keys()))

In [49]:
d = {'Python':40, 'R':45}


print(list(d.keys()))

['Python', 'R']

In [50]:
print(list(d.values()))

[40, 45]

##### Question 4

##### Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key based on user input which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [38]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [39]:
input_dict["Age"]

KeyError: 'Age'

In [53]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [54]:
input_dict["Label"] = "NA"

In [55]:
input_dict["Label"]

'NA'

In [56]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

In [57]:
input_dict.keys()

dict_keys(['Name', 'Profession'])

In [45]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

if "Label" in input_dict.keys():
    print(input_dict["Label"])
else:
    print("NA")

NA

In [40]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

In [44]:
"Label" in input_dict.keys()

False

##### Question 5

- List of Values in a Dictionary.

##### Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

﻿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [46]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [47]:
sorted(input_dict.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [48]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

new_list = input_dict.values()

sorted(new_list)

['Amazon', 'Apple', 'RJIO', 'Twitter']