## File Handling

#### Reading a file

In [1]:
file = open('test.txt', 'r')


for line in file:
    print(line)

This is a write operation

Hello!! Thanks for joining this programThis is a write operation

This is a write operation

This is a write operation

In [3]:
file = open('test.txt', 'r')
print(file.read())

This is a write operation
Hello!! Thanks for joining this programThis is a write operation
This is a write operation
This is a write operation

In [5]:
file = open('test.txt', 'r')
print(file.read(50))

This is a write operation
Hello!! Thanks for joini

In [6]:
file = open('test.txt', 'r')
print(file.readline())

This is a write operation

In [19]:
file = open('test.txt', 'r')
print(file.readline(50))

Hello World

In [20]:
file = open('test.txt', 'r')
print(file.read(50))

Hello World
My name is Satyajit Pattnaik
Welcome t

#### Writing a file

In [27]:
file = open('test.txt', 'w')
file.write("This is a write operation")
file.write("Hello!! Thanks for joining this program")

39

In [28]:
print(file.read())

UnsupportedOperation: not readable

In [29]:
file = open('test.txt', 'w')
file.write("This is a write operation")
file.write("Hello!! Thanks for joining this program")
file.close()

In [30]:
file = open('test.txt', 'r')
print(file.read())

This is a write operationHello!! Thanks for joining this program

#### Append operation

In [31]:
with open('test.txt', 'a') as file:
    file.write("This is a write operation")

In [33]:
file = open('test.txt', 'r')
for line in file:
    print(line)

This is a write operationHello!! Thanks for joining this programThis is a write operation

#### \n operation

In [36]:
file = open('test.txt', 'w')
file.write("This is a write operation")
file.write("\n")
file.write("Hello!! Thanks for joining this program")
file.close()

In [37]:
file = open('test.txt', 'r')
print(file.read())

This is a write operation
Hello!! Thanks for joining this program

In [41]:
file = open('test.txt', 'r')
for line in file:
    print(line)

This is a write operation

Hello!! Thanks for joining this programThis is a write operation

This is a write operation

In [43]:
with open('test.txt', 'a+') as file:
    file.write("\n")
    file.write("This is a write operation")

In [44]:
file = open('test.txt', 'r')
for line in file:
    print(line)

This is a write operation

Hello!! Thanks for joining this programThis is a write operation

This is a write operation

This is a write operation

#### Reading files using Pandas library

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('Churn_Modelling.csv')

In [12]:
df.tail(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [49]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0