<h1 style = "color : White">Loops & Iteration</h1>

### Loops

#### Check whether a number is even or odd

In [3]:
x = 5

# 5 is an odd number

In [8]:
if --> n % 2 == 1 then odd
if --> n % 2 == 0 then even

1

In [2]:
x = 5
print(x, "is a number")

5 is a number

In [23]:
x = int(input("Enter your number"))

if x%2==0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

Enter your number5
5 is an odd number

In [4]:
x = 104

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

104 is an even number

In [16]:
x = int(input("Enter your number"))

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

Enter your number6
6 is an even number

Allow: greater than 18 & less than 50 years of age

In [27]:
x = int(input("Enter your age"))

if x < 18 or x > 50:
    print("Sorry!! You are not allowed in the party")
else:
    print("Welcome to the party")

Enter your age19
Welcome to the party

#### Program to provide discounts/offers

In [32]:
# > 5000 --> 1000, if 2500-5000 --> 500, if < 2500 --> nothing


shopping_amt = int(input("Input your billed amount"))

if shopping_amt >= 5000:
    print("You have won a voucher of 1000$")
elif shopping_amt >= 2500:
    print("You have won a voucher of 500$")
else:
    print("OOPS!! No vouchers")

Input your billed amount400
OOPS!! No vouchers

In [31]:
shopping_amt

3900

#### Iterations

In [33]:
list_1 = [10, 20, 30, 40, 50]

In [34]:
len(list_1)

5

In [38]:
## Iterate over a list of integers

list_1 = [10, 20, 30, 40, 50]
for i in list_1:
    print(i)

10
20
30
40
50

In [41]:
## Iterate over a String

str_1 = "India"
for i in str_1:
    print(i)

I
n
d
i
a

In [42]:
## Iterate over a Dictionary

student_data = {1: ["Sam", 25], 2: ["Sharma", 21], 3: ["Ravi", 23], 4: ["Shalu", 23], 5: ["Sid", 22]}
for i in student_data:
    print(i)

1
2
3
4
5

In [43]:
## Iterate over a Dictionary

student_data = {1: ["Sam", 25], 2: ["Sharma", 21], 3: ["Ravi", 23], 4: ["Shalu", 23], 5: ["Sid", 22]}
for i in student_data.items():
    print(i)

(1, ['Sam', 25])
(2, ['Sharma', 21])
(3, ['Ravi', 23])
(4, ['Shalu', 23])
(5, ['Sid', 22])

In [48]:
## Iterate over a Dictionary

student_data = {1: ["Sam", 25], 2: ["Sharma", 21], 3: ["Ravi", 23], 4: ["Shalu", 23], 5: ["Sid", 22]}
for i,j in student_data.items():
    print(j[1])

25
21
23
23
22

In [51]:
for i,j in student_data.items():
    print(i)
    print(j[0])

1
Sam
2
Sharma
3
Ravi
4
Shalu
5
Sid

In [26]:
for i in student_data:
    print(i)

1
2
3
4
5

In [53]:
## Iterate over a range of values

for i in range(2,5):
    print(i)

2
3
4

In [54]:
student_data = {1: ["Sam", 25], 2: ["Sharma", 21], 3: ["Ravi", 23], 4: ["Shalu", 23], 5: ["Sid", 22]}

In [55]:
student_data[2][0]

'Sharma'

In [56]:
student_data.get(2)[0]

'Sharma'

In [57]:
student_data[6][0]

KeyError: 6

In [58]:
student_data.get(6)[0]

TypeError: 'NoneType' object is not subscriptable

## Comprehensions

In [66]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

In [67]:
list_2.append("Automobiles")
list_2.append("Honda")
list_2.append("Benz")
list_2.append("Maruti")
list_2.append("Kia")

In [68]:
list_2

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [70]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    #print(i)
    list_2.append(i)
    
print(list_2)

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [73]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
    
print(list_2)

#11, 5, 4, 6, 3

[11, 5, 4, 6, 3]

In [42]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
    
      
print(list_2)

[11, 5, 4, 6, 3]

In [75]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = [i for i in list_1]
    
print(list_2)

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [76]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {i: len(i) for i in list_1}

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}

In [77]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {}

for i in list_1:
    d[i] = len(i)

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}

In [ ]:
if ___:
    print("even")
else:
    print("odd")

In [1]:
101%2

1